C2000.9_C_25.txt filter=lfs diff=lfs merge=lfs -text
p_hat1500-3_C_75.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_001_C_50.txt filter=lfs diff=lfs merge=lfs -text
p_hat700-1_C_25.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_008_C_50.txt filter=lfs diff=lfs merge=lfs -text
C2000.5_C_50.txt filter=lfs diff=lfs merge=lfs -text
MANN_a81_C_50.txt filter=lfs diff=lfs merge=lfs -text
keller6_C_25.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_078_C_75.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_131_C_75.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_151_C_50.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_194_C_50.txt filter=lfs diff=lfs merge=lfs -text
brock800_2_C_75.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_024_C_75.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_038_C_25.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_039_C_75.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_107_C_25.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_167_C_25.txt filter=lfs diff=lfs merge=lfs -text
brock800_4_C_75.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_011_C_25.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_026_C_25.txt filter=lfs diff=lfs merge=lfs -text
p_hat700-3_C_50.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_087_C_75.txt filter=lfs diff=lfs merge=lfs -text
p_hat1500-1_C_50.txt filter=lfs diff=lfs merge=lfs -text
p_hat700-2_C_25.txt filter=lfs diff=lfs merge=lfs -text
vc-exact_196_C_25.txt filter=lfs diff=lfs merge=lfs -text
C1000.9_C_75.txt filter=lfs diff=lfs merge=lfs -text
DSJC1000_5_C_75.txt filter=lfs diff=lfs merge=lfs -text
hamming10-4_C_25.txt filter=lfs diff=lfs merge=lfs -text
C4000.5_C_50.txt filter=lfs diff=lfs merge=lfs -text
keller5_C_75.txt filter=lfs diff=lfs merge=lfs -text
p_hat1500-2_C_25.txt filter=lfs diff=lfs merge=lfs -text
